.landing {
  position: relative;
  width: 100%;
  height: 100vh;
}

.landingContent {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  z-index: 999;
  animation: slide-in-from-bottom 1s;
  font-weight: bold;

  & > h1 {
    font-size: 3rem;
  }
  & > h2 {
    animation: infinite pulse 1s;
    font-size: 2rem;

    font-weight: bold;
  }
  & > button {
    animation: infinite pulse 1s;
    font-size: 1.5rem;
  }
}

.landingImg {
  margin-top: 2rem;
  width: 200px;
  border-radius: 50%;
  border: #ffab04 2px solid;
}

.landingText {
  margin-top: 5rem;
  text-align: center;
  width: 60%;
  font-size: 3rem;
  font-style: italic;
}

@keyframes slide-in-from-bottom {
  0% {
    transform: translateY(50%);
  }
}

@media screen and (max-width: 555px) {
  .landingContent {
    gap: 1rem;
    & > h1 {
      font-size: 2rem;
      text-align: center;
    }
    & > h2 {
      font-size: 1.5rem;
    }
  }

  .landingText {
    margin-top: 1rem;
    width: 100%;
    font-size: 1.5rem;
    padding: 1rem;
  }
}
